<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light"> 
    <div class="container-fluid">
        <%= link_to (current_user ? home_page : root_path), class: "navbar-brand" do %>
            <% begin %>
                <%= image_tag(logo_image, class: "img-fluid", alt:"") %>
            <% rescue %>
                <%= t("administrator.site_settings.branding.invalid") %>
            <% end %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav mr-auto"> 
            <% if current_user %>
                <li class="nav-item <%= active_home %>">
                    <%= link_to home_page, class: "nav-link" do %>
                        <i class="fas fa-home pl-1 "></i><%= t("header.dropdown.home") %>
                    <% end %>
                </li>

                <% if current_user.role.get_permission("can_create_rooms") && !current_user.has_role?(:super_admin) && !hide_recording_tables %>
                <% all_rec_page = params[:controller] == "users" && params[:action] == "recordings" ? "active" : "" %>
                <li class="nav-item <%= all_rec_page %>">
                    <%= link_to get_user_recordings_path(current_user), class: "nav-link" do %>
                        <i class="fas fa-video pl-1"></i><%= t("header.all_recordings") %>
                    <% end %>
                </li>
                <% end %>

                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <% if current_user.image.blank? || !valid_url?(current_user.image) %>
                        <span class="avatar ml-2 d-none d-lg-inline-block"><%= current_user.name.first %></span>
                      <% else %>
                        <span id="user-avatar" class="avatar"><%= current_user.name.first %></span>
                        <%= image_tag(current_user.image, id: "user-image", class: "avatar ml-2 d-none d-lg-inline-block") %>
                      <% end %>
                        <span class="text-default username"><%= current_user.name %></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarDropdown" x-placement="bottom-end"> 
                      <%= link_to edit_user_path(current_user), class: "dropdown-item text-right"  do %>
                        <i class="dropdown-icon fas fa-id-card ml-3"></i><%= t("header.dropdown.settings") %>
                      <% end %>
                      <% highest_role = current_user.role %>
                      <% if highest_role.get_permission("can_manage_users") || highest_role.name == "super_admin" %>
                        <%= link_to admins_path, class: "dropdown-item text-right" do %>
                          <i class="dropdown-icon fas fa-user-tie ml-3"></i><%= t("header.dropdown.account_settings") %>
                        <% end %>
                      <% elsif highest_role.get_permission("can_manage_rooms_recordings")%>
                        <%= link_to admin_rooms_path, class: "dropdown-item text-right" do %>
                          <i class="dropdown-icon fas fa-user-tie ml-3"></i><%= t("header.dropdown.account_settings") %>
                        <% end %>
                      <% elsif highest_role.get_permission("can_edit_site_settings") %>
                        <%= link_to admin_site_settings_path, class: "dropdown-item text-right" do %>
                          <i class="dropdown-icon fas fa-user-tie ml-3"></i><%= t("header.dropdown.account_settings") %>
                        <% end %>
                      <% elsif highest_role.get_permission("can_edit_roles")%>
                        <%= link_to admin_roles_path, class: "dropdown-item text-right" do %>
                          <i class="dropdown-icon fas fa-user-tie ml-3"></i><%= t("header.dropdown.account_settings") %>
                        <% end %>
                      <% end %>
                      <div class="dropdown-divider"></div>
                      <% if Rails.configuration.help_url.present? %>
                        <a class="dropdown-item text-right" href="<%= Rails.configuration.help_url %>" target="_blank" rel="noopener">
                          <i class="dropdown-icon far fa-question-circle"></i> <%= t("header.dropdown.help") %>
                        </a>
                      <% end %>
                      <% if Rails.configuration.report_issue_url.present? %>
                        <a class="dropdown-item text-right" href="<%= Rails.configuration.report_issue_url %>" target="_blank" rel="noopener">
                          <i class="dropdown-icon fas fa-exclamation ml-3"></i><%= t("errors.internal.report") %>
                        </a>
                      <% end %>
                      <%= button_to logout_path, class: "dropdown-item text-right" do %>
                        <i class="dropdown-icon fas fa-sign-out-alt"></i> <%= t("header.dropdown.signout") %>
                      <% end %>
                    </div>
                </li>
            <% else %>
              <% allow_greenlight_accounts = allow_greenlight_accounts? %>
              <% if allow_greenlight_accounts %>
                <li class="nav-item">
                <%= link_to t("login"), signin_path, :class => "btn btn-outline-primary btn-block mb-2 mb-sm-0" %>
                </li>
              <% elsif Rails.configuration.loadbalanced_configuration %>
                <li class="nav-item">
                <%= link_to t("login"), omniauth_login_url(:bn_launcher), :class => "btn btn-outline-primary btn-block mb-2 mb-sm-0" %>
                </li>
              <% else %>
                <li class="nav-item">
                <%= link_to t("login"), signin_path, :class => "btn btn-outline-primary btn-block mb-2 mb-sm-0" %>
                </li>
              <% end %>


              <% if allow_user_signup? && allow_greenlight_accounts %>
                <li class="nav-item">
                    <%= link_to t("signup.title"), signup_path, :class => "btn btn-outline-primary btn-block" %>
                </li>
              <% end %>
            <% end %>
            </ul>
        </div>
    </div>
</nav>
